footer {
    border-top: 1px solid black;
    background-color: #202124;
    color: white;
    margin-top: 55px;
    width: 100%;

}

footer a {
    text-decoration: none;
}

footer .footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    
}

footer .footer-contact {
    font-weight: bold;
    font-size: 18px;
}

footer .contact-addess > p {
    font-size: 15px;
    color: #fff;
}

footer .contact-underline{
    height: 1px;
    margin-top: -10px;
    background-color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social img {
    width: 30px;
    height: 30px;
}