.reservation-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.reservation-box {
    color: white;
    width: auto;
    height: auto;
    background-color: #202124;
}

.reservation-box h1 {
    font-size: 23px;
    text-align: center;
}

.reservation-container {
    max-width: 1100px;
    background-color: #202124;
    text-transform: uppercase;
    padding: 25px 60px;
}

.reservation-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "name tel"
    "date hour"
    "couvert couvert"
    "submit submit";
    column-gap: 55px;
    row-gap: 11px;
}

.reservation-container input::placeholder {
    margin-left: 125px;
}

.reservation-container form input, select, button {
    margin-top: 25px;
}

/* .reservation-container form button {
    width: auto;
} */

.reservation-container form input {
    border: none;
    outline: none;
    background: transparent;
    border-bottom: solid white 1px;
    height: 35px;
    width: 100%;
    color: white;
}


.reservation-container form select {

    color: white;
    border: solid white 1px;
    background: transparent;
    height: 35px;
    width: 100%;
}

.reservation-container form select option {

    color: black;
}

.reservation-container form textarea {
    width:100%;
    grid-area: message;
}

.reservation-container .tel {
    grid-area: tel;
}

.reservation-container .firs-name {
    grid-area: firstName;
}

.reservation-container .name {
    grid-area: name;
}

.reservation-container  #couvert {
    grid-area: couvert;

}

.reservation-container  #date {
    grid-area: date;

}

.reservation-container  #hour {
    grid-area: hour;

}




label.error {
    color: red;
    display: block;
    margin-top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}

.cta-send {
    text-transform: uppercase;
    padding: 15px 55px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);;
    border: solid white 1px;
    color: white;
    cursor: pointer;
    position: relative;
}

#couvert select {
    width: 100%;
    height: 35px;
}

#date select {
    width: 100%;
    height: 35px;
}

.grid-p-reservation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hours-box {
    background-color: black;

}


.hours-box h1 {
    text-transform: uppercase;
    font-size: 23px;
    color: white;
    text-align: center;
    
}

.hours-box h2 {
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    
}

.hours-box p {
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    
}


.hours-container {
    max-width: 1100px;
    text-transform: uppercase;
    padding: 25px 60px;
}

.days-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.days {
    text-align: center;
    border-bottom: solid 1px white;
    width: 100%;
}

@media(max-width: 800px){
    .grid-p-reservation {
        grid-template-columns: 1fr;
    }
}